body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
}
h2{
color:maroon;	
text-align: center;				
}
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
select{
	max-width: 200px;
}
ul{
	padding-left: 0px;
}
/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
table{
	text-align:center;
}
nav {
    float: left;
    max-width: 300px;
    height:100%;
    margin: 0;
    padding: 1em;
}
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    height:100%;
    overflow: hidden;
}
button {
	background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover {
    background-color: #e7e7e7; 
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}