<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/main.js"></script>
</head>
<body>
<h2>Assignment 2</h2>
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Overall')" id="defaultOpenTab">Overall</button>
  <button class="tablinks" onclick="openTab(event, 'Individual')">Individual</button>
</div>

<div id="Overall" class="tabcontent">
<nav>
  <h3>Overall Summary</h3>
  <p id="overall">
  <ul>
	<li>The article with the most number of revisions:<b><%=mostRevisions._id %></b>
	
	, the number of revisions:<b><%=mostRevisions.numOfEdits %></b></li><br>
	
	<li>The article with the least number of revisions:<b><%=leastRevisions._id %></b>
	
	, the number of revisions:<b><%=leastRevisions.numOfEdits %></b></li><br>
	
	<li>The article edited by largest group of registered users:<b><%=largestGroup._id %></b>
	
	, the number of users:<b><%=largestGroup.uniqueUserCount %></b></li><br>
	
	<li>The article edited by smallest group of registered users:<b><%=smallestGroup._id %></b>
	
	, the number of users:<b><%=smallestGroup.uniqueUserCount %></b></li><br>
	
	<li>The article with the longest history:<b><%=longest._id %></b>
	
	, its created:<b><%=longest.oldest %></b></li><br>
	
	<li>The article with the shortest history:<b><%=shortest._id %></b>
	
	, its created:<b><%=shortest.lastest %></b></li>
	</ul>
	</p>
	</nav>
	<article>
  <button id = "bar" onclick="drawBar()">BarChart</button>
  <button id = "pie" onclick="drawPie()">PieChart</button>
  <div id="O_chart" ></div>
  </article>
</div>

<div id="Individual" class="tabcontent">
<nav>
	<select id="select">	
		<% for (var i = 0; i<titles.length;i++){%>
		<option value= "<%= titles[i]%>"><%= titles[i]%></option>
	<% } %>	
	</select>	
	<button id="search" onclick = "showContent(1)">search</button>
	<h3>Individual</h3>
	<p>
	<ul>
	<li>Title:<b><label id="title"></label></b></li><br>
	<li>Number of revisions:<b><label id="Number"></label></b></li><br>
	<li>Top 5 users:</li><br>
	<table></table>
	</ul>
	</nav>
	<article>
	<button id = "IColChart" onclick="drawIColChart()">Column Chart</button>
  	<button id = "IPieChart" onclick="drawIPieChart()">Pie Chart</button>
  	<button id = "IBarChart" onclick="drawIBarChart()">Bar Chart</button>
	</p>	
	<div id="I_chart"></div>
	</article>
</div>
</body>
</html>